[Unit]
Description=Initializes Arch Linux Instalation
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=git clone https://github.com/lordbabuino/aui.git

[Install]
WantedBy=multi-user.target
